<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCT.SystemFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CCT.SystemFramework.Properties.Settings>
            <setting name="RightConnectionString" serializeAs="String">
                <value>server=172.16.1.78;user id=CCTUSER;password=CCTUSER</value>
            </setting>
            <setting name="ReportUser" serializeAs="String">
                <value>ReportUser</value>
            </setting>
            <setting name="ReportPassword" serializeAs="String">
                <value>Ab12!@</value>
            </setting>
            <setting name="ReportDomain" serializeAs="String">
                <value/>
            </setting>
        </CCT.SystemFramework.Properties.Settings>
    </applicationSettings>
	<appSettings>
		<add key="ReportUser" value="ReportUser"/>
		<add key="ReportPassword" value="Ab12!@"/>
		<add key="ReportDomain" value="172.16.11.71"/>
	</appSettings>
</configuration>