<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Email" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
    <section name="OCR" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="OCR.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>

  <Email>
    <add key="SmtpServer" value="mail.cwcct.com"/>
    <add key="Username" value="cwcct\BMIS"/>
    <add key="Password" value="iT2008"/>
  </Email>

  <OCR>
    <add key="IsDebug" value="true"/>
    <add key="OCRDB" value="172.16.1.66"/>
    <add key="REPORT_URL" value="http://172.16.11.70/reportserver"/>
  </OCR>

  <applicationSettings>
    <OCR.BLL.Properties.Settings>
      <setting name="OCR_BLL_CtosWebReference_Service" serializeAs="String">
        <!-- 测试 http://172.16.11.81:8082/OCRService.asmx
             生产 http://172.16.11.51:9092/OCRService.asmx
        -->
         <value>http://172.16.11.81:8082/OCRService.asmx</value>
      </setting>
      <setting name="OCR_BLL_CtosWebRef82_WSVCDataAccess" serializeAs="String">
        <value>http://172.16.11.82:8155/Service.asmx</value>
      </setting>
    </OCR.BLL.Properties.Settings>
  </applicationSettings>

</configuration>