<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Main" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
    <section name="Gate" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
    <section name="TDR" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
    <section name="CIC" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
    <section name="JOB" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
    <section name="Mail" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
    <section name="TDIS" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
    <section name="OCR" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
  </configSections>
  <appSettings>
    <!-- add key="SCT_OCR_TEST" value="UK7baeqdUcBoq9QrPeK6byCYK/1XMlPfGLYLVuXxucJNEQBHgaaO8SMerieC7ZfF96gTnn8HgkaG/ef0EEtylPWiLrcfZ5dicAEEmVBsXu/lVI7wG1OBP1OXo7dDC81kb66iMVCQVC2aag/8uKWyjbMWLcQb0/mx1ujZ4VcEqATRm6Pu3iZVRbfdsRNIns7AscEyi3/pfKMY5S3756/RiKTlFkU9JpJb"/>
    <add key="SCT_OCR_RC2" value="UK7baeqdUcBoq9QrPeK6byCYK/1XMlPfGLYLVuXxucJNEQBHgaaO8SMerieC7ZfF96gTnn8HgkaG/ef0EEtylPWiLrcfZ5dicAEEmVBsXu/lVI7wG1OBP4p/iUpaKq0NiPPrtOQwRLPX9qGz53LKZ30PtssV5U1nXHfwcT/wELoq4WdGw6DbPdo6RvOiCa3vfhtEb8fXTBcGSdGzzyB7nw=="/>
    <add key="SCT_OCR_PRO" value="UK7baeqdUcBoq9QrPeK6byCYK/1XMlPfGLYLVuXxucJNEQBHgaaO8SMerieC7ZfF96gTnn8HgkaG/ef0EEtylPWiLrcfZ5dicAEEmVBsXu/lVI7wG1OBP4p/iUpaKq0NvNQde38xgMmSzgCt6lo02gXrLx7KvGtE5rh45yeeUaeZQqd+iyEvgE+1LKFmjTYhxYtArnlEdjHEl09sX/zWqQ=="/>
    <add key="CCTD" value="UK7baeqdUcDh7Yu5irWcQ0KL7MW4ncgxItEphd6XjyhhHzuxAambFQYxqmMk4nwigXXalYfQfcjs0Y7PckIs0Ew+0B4VgVcTvhl7r1/K9SITtUUf4E7FMSDch71SW6xdjb58xNwU2HEVba70ONkVeoEAFKHLAlTR/ZsXMp7HEVBarc/xB34SUPj3OFcssKgStTFYxM/bW7oKQ3BOQ3XOqQWUihDp2MRCvLTOZ4zrZPVeQO3XKzG5tU4q7at39ciRUr9ccFYLXiwQV0yo3eAJ8DrXp4XGf74c652Srepl8ZwztOeGUazIkn/1EY2k9SQUjA/fIWvwShQuBICmUPf7Ubc+C/rKfuC0YQUyrYPFR797YZHe+xCsKlgwFLlAaeI+6R56SJx3gcGcTmXauEl/uCg3WgXpY8pMHe1tZjWdqhJ8WG4LepNExOVVVxsZS1TiiutMNRT+YzRcV28VGi/PfA=="/ -->
    <add key="SCT_API_HOST" value="A/vz3VEFeFcpElUBA1UrPUQ0ab+ROyoJ"/>
  </appSettings>

  <!-- 主要 -->
	<Main>
    <add key="IsDebug" value="true"/>
	  <add key="IsProduct" value="false"/>	
  </Main>
  
  <!-- 闸口 -->
  <Gate>
    <add key="IsDebug" value="false"/>
  </Gate>

  <!-- TDR -->
  <TDR>
    <add key="IsDebug" value="true"/>
  </TDR>

  <!-- 调拨 -->
  <CIC>
    <add key="IsDebug" value="true"/>
  </CIC>

  <!-- 防台 -->
  <TDIS>
    <add key="IsDebug" value="true"/>
    <add key="CntPlanMailList" value="yejt@cwcct.com"/>
  </TDIS>

  <JOB>
    <add key="IsDebug" value="false"/>
    <add key="ServerIP" value="172.16.11.84"/>
    <add key="Port" value="19811"/>
  </JOB>

  <Mail>
    <add key="Host" value="mail.cwcct.com"/>
  </Mail>

  <OCR>
    <add key="IsDebug" value="false"/>
    <add key="OCRDB" value="172.18.15.85"/>
    <add key="REPORT_URL" value="http://172.16.11.70/reportserver"/>
  </OCR>
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
