<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OCR.Model.Properties.Settings.ConnectionString" connectionString="Data Source=ctost;Persist Security Info=True;User ID=cctdb;Password=cctdb;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="OCR.Model.Properties.Settings.ConnectionString1" connectionString="Data Source=ctosv;Persist Security Info=True;User ID=ocr;Password=ocr;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="OCR.Model.Properties.Settings.ConnectionString2" connectionString="Data Source=ctost;Persist Security Info=True;User ID=ocr;Password=ocr;Unicode=True" providerName="System.Data.OracleClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
