<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CCT.WebReference.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CCT.WebReference.Properties.Settings>
            <setting name="CCT_WebReference_CtosContainer_Container" serializeAs="String">
                <value>http://172.16.11.51:9055/Container.asmx</value>
            </setting>
            <setting name="CCT_WebReference_CtosQuickgate_QuickGate" serializeAs="String">
                <value>http://172.16.11.51:9055/Quickgate.asmx</value>
            </setting>
            <setting name="CCT_WebReference_CtosTransfer_Flitting" serializeAs="String">
                <value>http://172.16.11.51:9055/Flitting.asmx</value>
            </setting>
            <setting name="CCT_WebReference_CtosEirManage_Eir" serializeAs="String">
                <value>http://172.16.11.51:9055/Eir.asmx</value>
            </setting>
            <setting name="CCT_WebReference_PopedomReference_PopedomService" serializeAs="String">
                <value>http://uport.cwcct.com/WebServices/PopedomService.asmx</value>
            </setting>
            <setting name="CCT_WebReference_CtosPreEir_PreEir" serializeAs="String">
                <value>http://172.16.11.51:9055/PreEir.asmx</value>
            </setting>
            <setting name="CCT_WebReference_CtosOutYard_OutYard" serializeAs="String">
                <value>http://172.16.11.81:6666/outyard.asmx</value>
            </setting>
            <setting name="CCT_WebReference_CtosRelease_Release" serializeAs="String">
                <value>http://172.16.11.51:9055/release.asmx</value>
            </setting>
            <setting name="CCT_WebReference_GateDataSendReference_GangKouShuJuJiaoHuanServiceImplService" serializeAs="String">
                <value>http://10.150.1.153:8080/GangKouShuJuJiaoHuanWebService/SendGytJinChuGangCheRenYuanXixi</value>
            </setting>
        </CCT.WebReference.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
