<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Email" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>
    <section name="OCR" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common"/>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OCR.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    
  </configSections>
  <appSettings>
    <add key="SCT_OCR_TEST" value="UK7baeqdUcBoq9QrPeK6byCYK/1XMlPfGLYLVuXxucJNEQBHgaaO8SMerieC7ZfF96gTnn8HgkaG/ef0EEtylPWiLrcfZ5dicAEEmVBsXu/lVI7wG1OBP1OXo7dDC81kb66iMVCQVC2aag/8uKWyjbMWLcQb0/mx1ujZ4VcEqATRm6Pu3iZVRbfdsRNIns7AscEyi3/pfKMY5S3756/RiKTlFkU9JpJb"/>
    <add key="SCT_OCR_RC2" value="UK7baeqdUcBoq9QrPeK6byCYK/1XMlPfGLYLVuXxucJNEQBHgaaO8SMerieC7ZfF96gTnn8HgkaG/ef0EEtylPWiLrcfZ5dicAEEmVBsXu/lVI7wG1OBP4p/iUpaKq0NiPPrtOQwRLPX9qGz53LKZ30PtssV5U1nXHfwcT/wELoq4WdGw6DbPdo6RvOiCa3vfhtEb8fXTBcGSdGzzyB7nw=="/>
    <add key="SCT_OCR_PRO" value="UK7baeqdUcBoq9QrPeK6byCYK/1XMlPfGLYLVuXxucJNEQBHgaaO8SMerieC7ZfF96gTnn8HgkaG/ef0EEtylPWiLrcfZ5dicAEEmVBsXu/lVI7wG1OBP4p/iUpaKq0NvNQde38xgMmSzgCt6lo02gXrLx7KvGtE5rh45yeeUaeZQqd+iyEvgE+1LKFmjTYhxYtArnlEdjHEl09sX/zWqQ=="/>
    <add key="CCTD" value="UK7baeqdUcDh7Yu5irWcQ0KL7MW4ncgxItEphd6XjyhhHzuxAambFQYxqmMk4nwigXXalYfQfcjs0Y7PckIs0Ew+0B4VgVcTvhl7r1/K9SITtUUf4E7FMSDch71SW6xdjb58xNwU2HEVba70ONkVeoEAFKHLAlTR/ZsXMp7HEVBarc/xB34SUPj3OFcssKgStTFYxM/bW7oKQ3BOQ3XOqQWUihDp2MRCvLTOZ4zrZPVeQO3XKzG5tU4q7at39ciRUr9ccFYLXiwQV0yo3eAJ8DrXp4XGf74c652Srepl8ZwztOeGUazIkn/1EY2k9SQUjA/fIWvwShQuBICmUPf7Ubc+C/rKfuC0YQUyrYPFR797YZHe+xCsKlgwFLlAaeI+6R56SJx3gcGcTmXauEl/uCg3WgXpY8pMHe1tZjWdqhJ8WG4LepNExOVVVxsZS1TiiutMNRT+YzRcV28VGi/PfA=="/>
    <add key="SCT_API_HOST" value="A/vz3VEFeFcpElUBA1UrPUQ0ab+ROyoJ"/>
    <add key="TICKET_ID" value="Wlrc+gmIqYOnRf80hAnhPTW6WX75hcsxXlnvm/8xKlHxwYkMMzBCsrTt/IpxhKmczRpy3avXebQm+g8Jtkekuz77h630qmxpwr/4LQgAaCbp02ZoOcK8FB61A5PFtJQ6R0lNz3hDYHODMlqlAy4DqJOFyJ22mIeRU1Y/VUWJemSCX5rh2qbw7Xb1/9+x4ciag9ozY+a0ZgTQrJ4AG3k+z7WTUoy9ui0YF1aKC/75Hk63oGRkV3Jkb/AcmVI180x0"/>

    <add key="mailHost" value="10.1.2.73" />
    <!--<add key="SmtpClientHost" value="mailrelay.sctcn.com"/>-->
    <add key="StmpPort" value="25" />
    <add key="mailPassWord" value="Ists123456" />
    <add key="mailUserName" value="istsadmin" />
    <add key="mailfromAddress" value="ocr@sctcn.com" />
  </appSettings>
  <Email>
    <add key="SmtpServer" value="mail.cwcct.com"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
  </Email>

  <OCR>
    <add key="IsDebug" value="false"/>
    <add key="OCRDB" value="172.16.1.66"/>
  </OCR>

  <applicationSettings>
    <OCR.BLL.Properties.Settings>
      <setting name="OCR_BLL_CtosWebReference_Service" serializeAs="String">
        <value>http://172.16.11.81:8082/OCRService.asmx</value>
      </setting>
      <setting name="OCR_BLL_CtosWebRef82_WSVCDataAccess" serializeAs="String">
        <value>http://172.16.11.81:8082/OCRService.asmx</value>
      </setting>
    </OCR.BLL.Properties.Settings>
  </applicationSettings>
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
