<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Main" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
    <section name="Gate" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
    <section name="TDR" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
    <section name="CIC" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
    <section name="JOB" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
    <section name="Mail" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
    <section name="TDIS" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
    <section name="OCR" type="CCT.Common.Configuration.ConfigurationSectionHandler,CCT.Common" />
  </configSections>

  <!-- 主要 -->
	<Main>
    <add key="IsDebug" value="true" />
	  <add key="IsProduct" value="false" />	
  </Main>
  
  <!-- 闸口 -->
  <Gate>
    <add key="IsDebug" value="false" />
  </Gate>

  <!-- TDR -->
  <TDR>
    <add key="IsDebug" value="true" />
  </TDR>

  <!-- 调拨 -->
  <CIC>
    <add key="IsDebug" value="true" />
  </CIC>

  <!-- 防台 -->
  <TDIS>
    <add key="IsDebug" value="true" />
    <add key="CntPlanMailList" value="yejt@cwcct.com"/>
  </TDIS>

  <JOB>
    <add key="IsDebug" value="false" />
    <add key="ServerIP" value="172.16.11.84" />
    <add key="Port" value="19811" />
  </JOB>

  <Mail>
    <add key="Host" value="mail.cwcct.com" />
  </Mail>

  <OCR>
    <add key="IsDebug" value="true"/>
    <add key="OCRDB" value="172.16.1.66"/>
    <add key="REPORT_URL" value="http://172.16.11.70/reportserver"/>
  </OCR>
  
</configuration>