<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.1.3.28:8688/OCRService.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="CtosWebReference.ServiceSoap"
                name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>